In [1]:
import pandas as pd 
import numpy as np

## Importing the data

In [2]:
file_path = 'Data\\job_descriptions.csv'
df = pd.read_csv(file_path)
df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,2008764324040548,1 to 9 Years,B.Tech,$55K-$96K,Bern,Switzerland,46.8182,8.2275,Part-Time,85230,...,(443)237-7206x52848,Project Coordinator,Construction Project Coordinator,LinkedIn,Construction Project Coordinators assist in ma...,"{'Transportation Benefits, Professional Develo...",Construction project management Building codes...,"Coordinate construction projects, including pe...",APA,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
1,883214485661628,1 to 13 Years,BA,$55K-$92K,Stockholm,Sweden,60.1282,18.6435,Contract,129985,...,001-297-532-9394x30289,Procurement Specialist,Procurement Coordinator,ZipRecruiter,Procurement Coordinators assist in procurement...,"{'Casual Dress Code, Social and Recreational A...",Procurement processes Purchase order managemen...,"Support procurement activities, such as purcha...",CSL Limited,"{""Sector"":""Pharmaceuticals"",""Industry"":""Health..."
2,1312847636416093,3 to 11 Years,B.Tech,$55K-$127K,Male,Maldives,3.2028,73.2207,Contract,24650,...,796-496-2976,Software Engineer,Frontend Developer,Stack Overflow Jobs,A Frontend Developer is responsible for design...,"{'Life and Disability Insurance, Stock Options...","Proficiency in HTML, CSS, and JavaScript Exper...",Design and implement user interfaces for web a...,Haier Group,"{""Sector"":""Appliances"",""Industry"":""Electronics..."
3,1622354523422813,4 to 10 Years,B.Tech,$58K-$85K,New Delhi,India,20.5937,78.9629,Intern,52871,...,(435)844-1435x1471,Marketing Specialist,Marketing Analytics Specialist,Dice,Marketing Analytics Specialists analyze market...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Marketing analytics Data analysis Data visuali...,Analyze marketing data and generate insights t...,Brighthouse Financial,"{""Sector"":""Insurance"",""Industry"":""Insurance: L..."
4,2825294929394777,3 to 10 Years,MBA,$62K-$93K,Managua,Nicaragua,12.8654,-85.2072,Full-Time,96905,...,767-322-6638x1919,Finance Manager,Accounting Manager,Stack Overflow Jobs,Accounting Managers supervise accounting teams...,"{'Tuition Reimbursement, Stock Options or Equi...",Accounting principles Financial reporting Team...,"Manage accounting functions, including financi...",Starbucks,"{""Sector"":""Food and Beverage"",""Industry"":""Food..."

#### Identifying and handling missing value and duplicate value

In [3]:
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)
duplicate_rows = df.duplicated().sum()
print("\nDuplicate Rows:", duplicate_rows)

Missing Values:
Job Id                 0
Experience             0
Qualifications         0
Salary Range           0
location               0
Country                0
latitude               0
longitude              0
Work Type              0
Company Size           0
Job Posting Date       0
Preference             0
Contact Person         0
Contact                0
Job Title              0
Role                   0
Job Portal             0
Job Description        0
Benefits               0
skills                 0
Responsibilities       0
Company                0
Company Profile     2394
dtype: int64

Duplicate Rows: 0

In [4]:
df = df.dropna(subset=['Company Profile']) #droping the column which has missing company profile (5478 Raws)

##### Droping Unnecessary column

In [5]:
df = df.drop(columns=['Job Id', 'latitude', 'longitude', 'Contact Person', 'Contact', 'Job Portal', 'Benefits'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 696012 entries, 0 to 698405
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Experience        696012 non-null  object
 1   Qualifications    696012 non-null  object
 2   Salary Range      696012 non-null  object
 3   location          696012 non-null  object
 4   Country           696012 non-null  object
 5   Work Type         696012 non-null  object
 6   Company Size      696012 non-null  int64
 7   Job Posting Date  696012 non-null  object
 8   Preference        696012 non-null  object
 9   Job Title         696012 non-null  object
 10  Role              696012 non-null  object
 11  Job Description   696012 non-null  object
 12  skills            696012 non-null  object
 13  Responsibilities  696012 non-null  object
 14  Company           696012 non-null  object
 15  Company Profile   696012 non-null  object
dtypes: int64(1), object(15)
memory usage: 90.3+ MB

##### Extracting Min_experience and max_experience from experience and then droping the experience column

In [7]:
# Defining a function to process the experience range
def extract_experience(experience_range):
    # Removing 'years' and spliting by 'to'
    parts = experience_range.replace(' Years', '').split(' to ')
    
    # Converting to integer
    min_experience = int(parts[0])
    max_experience = int(parts[1])
    
    return min_experience, max_experience

# Apply the function to extract min and max experience
df[['min_experience', 'max_experience']] = df['Experience'].apply(lambda x: pd.Series(extract_experience(x)))

# Display the updated DataFrame
df.head()

,Experience,Qualifications,Salary Range,location,Country,Work Type,Company Size,Job Posting Date,Preference,Job Title,Role,Job Description,skills,Responsibilities,Company,Company Profile,min_experience,max_experience
0,1 to 9 Years,B.Tech,$55K-$96K,Bern,Switzerland,Part-Time,85230,2023-01-11,Female,Project Coordinator,Construction Project Coordinator,Construction Project Coordinators assist in ma...,Construction project management Building codes...,"Coordinate construction projects, including pe...",APA,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O...",1,9
1,1 to 13 Years,BA,$55K-$92K,Stockholm,Sweden,Contract,129985,2022-01-18,Both,Procurement Specialist,Procurement Coordinator,Procurement Coordinators assist in procurement...,Procurement processes Purchase order managemen...,"Support procurement activities, such as purcha...",CSL Limited,"{""Sector"":""Pharmaceuticals"",""Industry"":""Health...",1,13
2,3 to 11 Years,B.Tech,$55K-$127K,Male,Maldives,Contract,24650,2022-04-08,Male,Software Engineer,Frontend Developer,A Frontend Developer is responsible for design...,"Proficiency in HTML, CSS, and JavaScript Exper...",Design and implement user interfaces for web a...,Haier Group,"{""Sector"":""Appliances"",""Industry"":""Electronics...",3,11
3,4 to 10 Years,B.Tech,$58K-$85K,New Delhi,India,Intern,52871,2022-02-13,Female,Marketing Specialist,Marketing Analytics Specialist,Marketing Analytics Specialists analyze market...,Marketing analytics Data analysis Data visuali...,Analyze marketing data and generate insights t...,Brighthouse Financial,"{""Sector"":""Insurance"",""Industry"":""Insurance: L...",4,10
4,3 to 10 Years,MBA,$62K-$93K,Managua,Nicaragua,Full-Time,96905,2021-12-13,Female,Finance Manager,Accounting Manager,Accounting Managers supervise accounting teams...,Accounting principles Financial reporting Team...,"Manage accounting functions, including financi...",Starbucks,"{""Sector"":""Food and Beverage"",""Industry"":""Food...",3,10

In [8]:
df = df.drop(columns='Experience')

In [9]:
# Calculating the average experience
df['average_experience'] = df[['min_experience', 'max_experience']].mean(axis=1)

##### Extracting min_salary and max_salary from salary_range and then droping the salary_range column

In [10]:
def extract_salary(salary_range):
    # Removing '$' and 'K', then spliting by '-'
    parts_salary = salary_range.replace('$', '').replace('K', '').split('-')
    
    # Converting to integers and multiplying by 1000
    min_salary = int(parts_salary[0]) * 1000
    max_salary = int(parts_salary[1]) * 1000
    
    return min_salary, max_salary

# Applying the function to extract min and max salary
df[['min_salary', 'max_salary']] = df['Salary Range'].apply(lambda x: pd.Series(extract_salary(x)))

In [11]:
df = df.drop(columns='Salary Range')
df['average_salary'] = df[['min_salary', 'max_salary']].mean(axis=1)
df.head()

,Qualifications,location,Country,Work Type,Company Size,Job Posting Date,Preference,Job Title,Role,Job Description,skills,Responsibilities,Company,Company Profile,min_experience,max_experience,average_experience,min_salary,max_salary,average_salary
0,B.Tech,Bern,Switzerland,Part-Time,85230,2023-01-11,Female,Project Coordinator,Construction Project Coordinator,Construction Project Coordinators assist in ma...,Construction project management Building codes...,"Coordinate construction projects, including pe...",APA,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O...",1,9,5.0,55000,96000,75500.0
1,BA,Stockholm,Sweden,Contract,129985,2022-01-18,Both,Procurement Specialist,Procurement Coordinator,Procurement Coordinators assist in procurement...,Procurement processes Purchase order managemen...,"Support procurement activities, such as purcha...",CSL Limited,"{""Sector"":""Pharmaceuticals"",""Industry"":""Health...",1,13,7.0,55000,92000,73500.0
2,B.Tech,Male,Maldives,Contract,24650,2022-04-08,Male,Software Engineer,Frontend Developer,A Frontend Developer is responsible for design...,"Proficiency in HTML, CSS, and JavaScript Exper...",Design and implement user interfaces for web a...,Haier Group,"{""Sector"":""Appliances"",""Industry"":""Electronics...",3,11,7.0,55000,127000,91000.0
3,B.Tech,New Delhi,India,Intern,52871,2022-02-13,Female,Marketing Specialist,Marketing Analytics Specialist,Marketing Analytics Specialists analyze market...,Marketing analytics Data analysis Data visuali...,Analyze marketing data and generate insights t...,Brighthouse Financial,"{""Sector"":""Insurance"",""Industry"":""Insurance: L...",4,10,7.0,58000,85000,71500.0
4,MBA,Managua,Nicaragua,Full-Time,96905,2021-12-13,Female,Finance Manager,Accounting Manager,Accounting Managers supervise accounting teams...,Accounting principles Financial reporting Team...,"Manage accounting functions, including financi...",Starbucks,"{""Sector"":""Food and Beverage"",""Industry"":""Food...",3,10,6.5,62000,93000,77500.0

In [12]:
df['Job Posting Date'].info()

<class 'pandas.core.series.Series'>
Index: 696012 entries, 0 to 698405
Series name: Job Posting Date
Non-Null Count   Dtype
--------------   -----
696012 non-null  object
dtypes: object(1)
memory usage: 10.6+ MB

In [13]:
import pandas as pd
import re

irrelevant_words = [
    "knowledge", "and", "skills", "control", "including"
    "codes", "regulations", "cost", "monitor", "timelines",
    "assist", "in", "budgeting"
]

# Function to clean and extract skills
pattern = re.compile(r'\b(?:' + '|'.join(irrelevant_words) + r')\b', re.IGNORECASE)

# Function to clean and extract skills
def clean_skills(skills_string):
    # Remove brackets and their contents
    skills_string = re.sub(r'\[.*?\]|\(.*?\)|\{.*?\}', '', skills_string)
    
    # Clean the skills string by removing irrelevant words
    cleaned_skills = pattern.sub('', skills_string)
    
    # Split the cleaned string into a list of skills
    skill_list = re.split(r'\s*,\s*|\s+', cleaned_skills.strip())
    
    # Remove any empty strings from the list
    skill_list = [skill for skill in skill_list if skill]
    
    return skill_list

# Apply the function to the 'skills' column and generate the list of cleaned skills
df['skills'] = df['skills'].apply(clean_skills)

In [14]:
df['Job Posting Date'] = pd.to_datetime(df['Job Posting Date'])

In [15]:
df['Job Posting Date'].info()

<class 'pandas.core.series.Series'>
Index: 696012 entries, 0 to 698405
Series name: Job Posting Date
Non-Null Count   Dtype
--------------   -----
696012 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 10.6 MB

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 696012 entries, 0 to 698405
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Qualifications      696012 non-null  object
 1   location            696012 non-null  object
 2   Country             696012 non-null  object
 3   Work Type           696012 non-null  object
 4   Company Size        696012 non-null  int64
 5   Job Posting Date    696012 non-null  datetime64[ns]
 6   Preference          696012 non-null  object
 7   Job Title           696012 non-null  object
 8   Role                696012 non-null  object
 9   Job Description     696012 non-null  object
 10  skills              696012 non-null  object
 11  Responsibilities    696012 non-null  object
 12  Company             696012 non-null  object
 13  Company Profile     696012 non-null  object
 14  min_experience      696012 non-null  int64
 15  max_experience      696012 non-null  int64
 16  average_experience  696012 non-null  float64
 17  min_salary          696012 non-null  int64
 18  max_salary          696012 non-null  int64
 19  average_salary      696012 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(12)
memory usage: 111.5+ MB

In [17]:
df.to_csv("Data/cleaned_df.csv", index= False)